<div class='element' align='center'>

  <br><br><br><br><br><br><br><br>
  <h1><%= @get_word %> </h1>

  <br>

  <%= link_to 'Generate Random Word', index_path,
    class: 'btn btn-default btn-lg', role: 'button' %>

</div>
