<div class='element' align='center'>

  <br><br><br><br><br><br>
  <h1><%= @get_word %> </h1>

  <br>

  <%= link_to 'Generate Random Word', root_path,
    class: 'btn btn-default btn-lg', role: 'button' %>

  <br><br>
  <p> Wanna keep score? <a href='/score'> Click here! </a></p>

</div>
