<div ng-app="">
  <div align='center'>
    <br><br><br><br><br><br>

    <h4> Team A: {{count1}} </h4>
    <h4> Team B: {{count2}} </h4>

    <br>

    <button type="button" class="btn btn-default btn-lg" ng-click="count1 = count1 + 1" ng-init="count1=0">
      Point for A
    </button>

    <button type="button" class="btn btn-default btn-lg" ng-click="count2 = count2 + 1" ng-init="count2=0">
      Point for B
    </button>

  </div>
</div>
