// Place all the styles related to the generator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* universal */

$lightgrey: #999;

html {
  overflow-y: scroll;
  background-color: #FBFBFB;
}

body {
  padding-top: 0px;
  background-color: #FBFBFB;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
  margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6, p, cite, strong {
  line-height: 1;
  font-family: 'Baskerville';
  color: #AB6D2B;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 0px;
  text-align: center;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  text-weight: normal;
  color: $lightgrey;
}

h4 {
  margin-top: 0px;
  margin-bottom: 25px;

}

P {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: #000099;
}

.form_label {
  color: #80879D;
}
